#Будут проигнорированы файлы, заканчивающиеся суффиксом _old
*_old

#Будут проигнорированы файлы, заканчивающиеся суффиксом _backup
*_backup

#Будут проигнорированы файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store